body {
    margin: 0;
    font-family: Helvetica, arial, sans-serif;
    font-size: 16px;
}

#content {
    padding: 20px 0;
}

.o-forms-errortext {
    display: none;
}

.o-forms--error > .o-forms__errortext {
    display: block;
}

.o-forms__label--required::after {
    content: '*';
    color: #900;
}

.o-labels {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

.o-labels--Platinum {
    background-color: gray;
}

.o-labels--Gold {
    background-color: gold;
    color: black;
}

.o-labels--Bronze {
    background-color: #cd7f32;
}

.o-labels--Silver {
    background-color: silver;
    color: black;
}

.o-table--row-stripes {
    background-color: #f4efe7;
}
.o-table--row-stripes tbody tr:nth-child(even) {
    background-color: #e9decf;
}

/* system */

#save {
    margin: auto;
    padding: 0.5em 0;
    max-width: 400px;
    display: block;
    clear: both;
}
#save {
    padding-top: 3em;
}
#save input {
    width: 100%;
}
#delete input {
    background: #900;
    border-color: #900;
}

label {
    display: block;
}
.o-forms__errortext {
    display: none;
}
.o-forms--error > .o-forms__errortext {
    display: block;
}
.urltype {
    text-transform: capitalize;
}
.link-all a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}
.link-all a:hover {
    text-decoration: underline;
}
.link-all {
    margin-bottom: 1em;
    font-size: small;
}
.valid {
    background: green;
}
.invalid {
    background: red;
}
.upgrade {
    background: chocolate;
}
.url > .save-button {
    margin-left: 2em;
}

#saved {
    padding: 0;
    padding-bottom: 0.1em;
}
#saved .success {
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    font-size: large;
}
#saved aside > div {
    margin: 8px;
}
#saved aside[data-collapse='true'] > div {
    display: none;
}
#saved aside > h3 {
    cursor: pointer;
    margin: 0.5em 3px;
}
#saved aside > h3:before {
    width: 1em;
    float: left;
    text-align: center;
}
#saved aside[data-collapse='true'] > h3:before {
    content: '+ ';
}
#saved aside[data-collapse='false'] > h3:before {
    content: '- ';
}
#saved aside pre {
    padding: 8px;
    border: groove;
    border-radius: 4px;
}

.last-update {
    background: #333;
    color: #fff;
    display: block;
    text-align: right;
    margin-top: 1em;
    padding: 0.4em 1em;
}

.o-icons-icon {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.o-icons--big {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
    margin-right: 10px;
}

.o-icons-icon--warning {
    border-radius: 50%;
    background-color: white;
}

.delete-notice-container {
    border: 1px solid #900;
    margin-top: 3em;
    padding: 1em;
    border-radius: 2px;
    background-color: #e1b3b3;
    margin-bottom: 3em;
}
